.navbar {
    width: 100%;
    height: 60px;
    padding: 15px 50px;
    background: rgb(225, 243, 243);
    display: flex;
    justify-content: space-between;

    >h1 {
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
    }
}

.navbar_logo {
    display: flex;
    gap: 5px;

    >p {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
    }
}

header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;

}

.header_search {
    padding: 15px 50px;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background: #FFF;
}

.header_select {
    width: 200px;
    height: 56px;
    padding: 10px ;
    border-radius: 5px;
    border: none;
}

input {
    font-size: 14px;
    margin-left: 10px;
    border: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

}

.germany_title {
    width: 230px;
    height: 330px;
    border-radius: 5px;
    background: #FFF;

    >img {
        width: 230px;
        height: 150px;
    }
}

.germany_text {
    margin: 20px 0 30px 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;


    >p {
        margin-top: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
    }

    >i {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
    }
}

.abs_title {
    width: 235px;
    height: 330px;
    border-radius: 5px;
    background: #FFF;

    >img {
        width: 235px;
        height: 150px;
    }
}

.abs_text {
    margin: 20px 0 30px 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;


    >p {
        margin-top: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
    }

    >i {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
    }
}

.brazil_title {
    width: 230px;
    height: 330px;
    border-radius: 5px;
    background: #FFF;

    >img {
        width: 230px;
        height: 150px;
    }
}

.brazil_text {
    margin: 20px 0 30px 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;


    >p {
        margin-top: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
    }

    >i {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
    }
}

.iceland_title {
    width: 230px;
    height: 330px;
    border-radius: 5px;
    background: #FFF;

    >img {
        width: 230px;
        height: 150px;
    }
}

.iceland_text {
    margin: 20px 0 30px 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;


    >p {
        margin-top: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
    }

    >i {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
    }
}

.afganistan_title {
    width: 230px;
    height: 330px;
    border-radius: 5px;
    background: #FFF;

    >img {
        width: 230px;
        height: 150px;
    }
}

.afganistan_text {
    margin: 20px 0 30px 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;


    >p {
        margin-top: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
    }

    >i {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
    }
}

.island_title {
    width: 235px;
    height: 330px;
    border-radius: 5px;
    background: #FFF;

    >img {
        width: 235px;
        height: 150px;
    }
}

.island_text {
    margin: 20px 0 30px 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;


    >p {
        margin-top: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
    }

    >i {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
    }
}

.albania_title {
    width: 230px;
    height: 330px;
    border-radius: 5px;
    background: #FFF;

    >img {
        width: 230px;
        height: 150px;
    }
}

.albania_text {
    margin: 20px 0 30px 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;


    >p {
        margin-top: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
    }

    >i {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
    }

}

.algeria_title {
    width: 230px;
    height: 330px;
    border-radius: 5px;
    background: #FFF;

    >img {
        width: 230px;
        height: 150px;
    }
}

.algeria_text {
    margin: 20px 0 30px 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;


    >p {
        margin-top: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
    }

    >i {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
    }
}

footer {
    margin: 30px auto 50px;
}